.mat-toolbar.mat-primary {
    background-color: #24b8bd;
}
mat-sidenav-content {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-align {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {

    .right-align {
        flex-direction: row;
        align-items: flex-end;
    }

    nav {
        margin-right: 0;
    }
}

// Image slider starts

ng-image-slider .custom-image-main img {
    border-radius: 0 !important;
}

ng-image-slider .img-div.selected-image {
    border: 3px solid red;
    box-sizing: border-box;
} 

ng-image-slider .img-div {
  cursor: pointer;
}

// image slider ends